{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('task_create')}) }}
             {{ form_label(form.title) }}
       {{ form_widget(form.title,{'attr':{'class':'form-control'}}) }}
       <div class="form-error text-danger">
        {{ form_errors(form.title) }}
    </div>
          {{ form_label(form.content) }}
       {{ form_widget(form.content,{'attr':{'class':'form-control'}}) }}
       <div class="form-error text-danger">
        {{ form_errors(form.content) }}
    </div>
       <div class ="row">
       <div class="d-flex justify-content-between my-1">
       <a href="{{ path('task_list') }}" class="btn btn-primary">Retour à la liste des tâches</a>
        <button type="submit" class="btn btn-success ">Ajouter</button>
        {{ form_end(form) }}

        
        </div>
        </div>
    </div>
{% endblock %}
